:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --focus-purple: #535bf2;
  --border-purple: #4c5287;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--focus-purple);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--focus-purple);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--focus-purple);
  }
  button {
    background-color: #f9f9f9;
  }
}

.chat-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid var(--border-purple);
  width: 100%;
}

.messages-container {
  margin-bottom: 20px;
  text-align: left;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.message{
  margin-bottom: 10px;
}

.message-input {
  width: calc(100% - 90px);
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

.message-input:focus {
  outline: 1px solid var(--focus-purple);
}

.send-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #131518;
  background-color: #131518;
  color: #fff;
}

.sender {
  font-weight: 700;
  color: var(--focus-purple);
}

.friend-item.active {
  background-color: var(--focus-purple);
  color: white;
}
.friend-item.not-active {
  border: 1px solid rgb(76, 76, 76);
}

.friend-item.not-active:hover {
  border: 1px solid var(--focus-purple);
}

.friend-item {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--border-purple);
  cursor: pointer;
}
